/* ***************** */
/* *** AWARDCARD *** */
/* ***************** */
.app__awards_laurels-card {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 230px;
  margin: 1rem;
}

.app__awards_laurels-card img {
  width: 50px;
  height: 50px;
}

.app__awards_laurels-content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

/* ******************* */
/* *** Award Cards *** */
/* ******************* */
.app__awards_laurels {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
}

/* ******************** */
/* *** LARGE STYLES *** */
/* ******************** */
@media screen and (max-width: 2000px) {
  .app__awards_laurels-card {
    min-width: 390px;
  }
}

/* ******************** */
/* *** SMALL STYLES *** */
/* ******************** */
@media screen and (max-width: 650px) {
  .app__awards_laurels-card {
    min-width: 100%;
    margin: 1rem 0;
  }
}